.debounced-search-input {
  position: relative;

  .debounced-search-input__icon {
    position: absolute;
    left: 11px;
    top: 50%;
    width: 11px;
    height: 11px;
    border: 1.7px solid #ADB5BD;
    border-radius: 50%;
    transform: translateY(-55%);
    pointer-events: none;
    z-index: 1;
  }

  .debounced-search-input__icon-handle {
    position: absolute;
    width: 6px;
    height: 1.7px;
    background: #ADB5BD;
    right: -5px;
    bottom: -3px;
    transform: rotate(45deg);
    transform-origin: left center;
  }

  .debounced-search-input__control {
    padding-left: 34px;
  }
}
