.eexp-field {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .react-datepicker-wrapper {
    width: 100%;
  }
}

.eexp-label {
  font-size: 13px;
  font-weight: 600;
  color: var(--pgn-color-gray-800);
}

.eexp-label-note {
  font-weight: 400;
  color: var(--pgn-color-gray-500);
  font-size: 12px;
}
